<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="StudentRegistration" connectionString="Data Source = localhost; Initial Catalog = StudentRegistration; Integrated Security=True" />-->
		<add name="StudentRegistration" connectionString="Data Source = 10.193.63.101; Initial Catalog = StudentRegistration; Integrated Security=True" />
	</connectionStrings>
</configuration>